.playerInfo {
  display : flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background-color: #f3fafacb;
  border-radius: 10px;
  margin-left : 3vw;
  z-index: 0;
}

.playerInfo__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f3fafab0;
  border-radius: 10px 10px 0px 0px;
  height: 20%;
}

.playerInfo__body {
  display : flex;
  flex-direction: column;
  height: 75%;
}

.playerInfo__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.playerInfo__list__item {
  flex: 1;
  display: flex;
  width: 100%;
  border: .5px solid #000000;
  padding : 10px;
  cursor: pointer;
}

.playerInfo__list__item:hover {
  background-color: #f3fafacc;
}


.driver {
  width: 75px;
  height: 20px;
  background: #000000;
}

.driver__speed {
  color : #fff;
}