[submodule "server-data/resources/[local]/orion_phone"]
	path = server-data/resources/[local]/orion_phone
	url = https://github.com/YannickPerret/orionRP-phone.git
[submodule "server-data/resources/[libs]/screenshot-basic"]
	path = server-data/resources/[libs]/screenshot-basic
	url = https://github.com/project-error/screenshot-basic.git
