body {
    background-color: rgba(0, 0, 0, 0.5);
}

#inventory {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    margin: 10px;
    text-align: center;
}

.item img {
    width: 100%;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
