.skinCreator {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.skinCreator__sideLeft {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(24, 27, 32);
  padding: 1%;
}

.skinCreator__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(24, 27, 32, 0.9);
  width: 450px;
  height: 45px;
  gap: 1vw;
  padding: 1%;
}

.skinCreator__bottom input {
  flex: 1;
  height: 35px;
  border-radius: 8px;

}

.skinCreator__valid {
  display: flex;
  flex-direction: row;
  gap: 5%;
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 250px;
  height: 45px;
  background-color: rgba(24, 27, 32, 0.9);

}

.skinCreator__valid button {
  flex: 1;
  border-radius: 15px;
}

.skinCreator .sideLeft {
  background-color: rgba(24, 27, 32, 0.9);
}

.input .type-img {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 30vw;
  height: 75vh;
  overflow-y: scroll;

}

.input .type-img .label {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.input .type-img label {
  width: calc(100% / 4);
}

.input .type-img label:nth-child(4n) .img {
  border-right: 1px solid #3d3d3d;
}

.input .type-img .img {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #3d3d3d;
  border-left: 1px solid #3d3d3d;
}

.input .type-img .img img {
  width: 100%;
  height: auto;
}

.input .type-img .img:after {
  opacity: 0;
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  padding: 4px;
  background-size: 8px 6px;
  transition: all .15s ease-in-out;
}

.input .type-img input[type="radio"]:checked+.img {
  border: 2px solid white;
}

.input .type-img input[type="radio"]:checked+.img:after {
  opacity: 1;
}

input[type="radio"]:checked+span:after {
  opacity: 1;
}

.type-radio {
  margin-bottom: 10px;
  width: 17vw;

}

.type-radio label {
  display: inline-block;
  height: 18px;
  width: calc(100% / 6);

}

.type-radio .color {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: -2px;
  font-size: 0;
  border: 1px solid rgba(228, 228, 228, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
}

.type-radio .color:after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 9px;
  left: 7px;
  width: 13px;
  height: 9px;
  background-size: cover;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

input[type="radio"]:checked+span:after {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 280px;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  vertical-align: middle;
  padding: 0 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 330px;
  height: 2px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]::-moz-range-track {
  width: 330px;
  height: 2px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]::-ms-track {
  width: 330px;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.2);
}

input[type="radio"] {
  display: none;
}

.rotation {
  position: absolute;
  bottom: 60px;
  right: 550px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 40px;
  color: white;
}

.rotation .button {
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 5px;
}

.rotation p {
  margin-left: 10px;
}