.playerInfo__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  .playerInfo__list__item {
    flex: 1;
    display: flex;
    width: 100%;
    border: .5px solid #000000;
    padding : 10px;
    cursor: pointer;
  }
  
  .playerInfo__list__item:hover {
    background-color: #f3fafacc;
  }