.bank {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 60%;
    position: absolute;
    top: 15%;
    left: 20%;
    padding: 7%;
    background-color: #091E37;
    border-radius: 15px;
    color: #fff;
    border: 1px solid #rgb(239, 159, 32);

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    &__header {}

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background: #fff;

        &__actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 10%;
            width: 100%;
            gap: 15px;
        }
    }
}