.inventory {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    background: #2d3e565f;
    padding: 1%;
    position: absolute;
    top: 30vh;
    left: 5vw;

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        height: 25px;
        width: 25px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: calc(20% - 15px);
        height: 150px;
        width: 100px;
        background: #364b6932;
        border: 0.5 solid #364b69;
        position: relative;

        &:hover~.inventory__item__description {
            display: flex;
        }

        &__actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        &__icon {
            height: 50px;
            width: 50px;

            & img {
                height: auto;
                width: 100%;
            }
        }

        &__description {
            display: none;
            flex-direction: column;
            position: absolute;
            height: 25px;
            width: fit-content;
            bottom: 0;
            left: 0;
            background: #364b69;
        }

    }
}