.fuel-bar-container {
    position : absolute;
    bottom : 1vh;
    left : 17vw;
    width: 15vw;
    background-color: #ddd;
    border-radius: 4px;
    padding: 2px;
  }
  
  .fuel-bar {
    height: 15px;
    background-color: #ffc107; /* Jaune */
    border-radius: 2px;
    transition: width 0.5s ease-in-out;
  }
  